@import "normalize-5.0.0.less";

//------------------------------------------------------------------------------
// Constants
//------------------------------------------------------------------------------

@maxWidth: 1200px;
@minWidth: 300px;
@minBodyHeight: 500px;
@primaryActionColor: #38c;
@smallBreakpoint: 750px;
@modalZ: 100;
@errorRed: #ff3939;
@warningYellow: #ffff41;
@successGreen: #148414;
@maxModalWidth: 500px;

//------------------------------------------------------------------------------
// Tag Selectors
//------------------------------------------------------------------------------

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  max-width: @maxWidth;
  min-width: @minWidth;
}

button {
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background: #333;
  color: #fff;
  height: 46px;
  padding: 0 10px;
}

.menu-btn-6a131 {
  background: rgba(0, 0, 0, 0);
  border-radius: 5px;
  border: 2px solid #dcdcdc;
  color: #dcdcdc;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  padding: 5px 8px;
  text-transform: uppercase;
}

.page-title-0fbc4 {
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  margin: 12px 0 0 0;
  padding: 0;
}

footer {
  align-items: center;
  background: #333;
  color: #828282;
  display: flex;
  font-size: 12px;
  margin: 0;
  padding: 20px 10px;

  .left {
    flex: 1;

    select {
      color: #222;
    }
  }

  .right {
    flex: 1;
    text-align: right;
  }

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: #bbb;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
    text-decoration: underline;
  }

} // end footer

//------------------------------------------------------------------------------
// Login Page
//------------------------------------------------------------------------------

.password-container {
  align-items: center;
  display: flex;
  justify-content: center;

  h1 {
    background: #333;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 10px 15px;
  }

  .login-box {
    margin: 15% 10px 0 10px;
    width: 400px;

    label {
      display: block;
      margin-bottom: 10px;
    }

    input[type="password"] {
      box-sizing: border-box;
      display: block;
      font-size: 18px;
      margin-bottom: 15px;
      padding: 6px;
      width: 100%;
    }

    .inner {
      border: 1px solid #ccc;
      border-top: 0;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;
      padding: 20px;
    }
  }

  .wrong {
    background: #FD2424;
    color: #fff;
    font-size: 16px;
    margin-bottom: 15px;
    padding: 15px 20px;
  }

  .login-btn {
    display: inline-block;
    padding: 6px 12px;
  }

  .login-btn.disabled {
    opacity: 0.5;
  }
}

//------------------------------------------------------------------------------
// Admin
//------------------------------------------------------------------------------

.admin-nav-container {
  display: flex;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 100;

  .links {
    background: #222;
    color: #fff;
    margin: 0;
    order: 1;
    padding: 0;
    flex: 70;

    li {
      border-bottom: 1px solid #444;
      cursor: pointer;
      font-size: 18px;
      font-weight: 300;
      padding: 15px;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }

  .overlay {
    background: #777;
    flex: 30;
    opacity: 0.5;
    order: 2;
  }
} // end .admin-nav-container

.admin-container {
  article {
    min-height: @minBodyHeight;
    padding: 20px 0;
  }

  .top-option {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 20px;

    .fa {
      font-size: 18px;
      width: 20px;
    }
  }

  .admin-input-row {
    border-bottom: 1px solid #ddd;
    padding: 15px 5px;

    .row {
      align-items: center;
      display: flex;
      margin: 10px 0;
    }

    label {
      font-size: 16px;
      font-weight: 300;
      padding: 5px;
      text-align: right;
      width: 60px;
    }

    .muted {
      color: #777;
      font-family: "Georgia", serif;
      font-size: 14px;
      font-style: italic;
    }

    input {
      flex: 1;
      font-size: 16px;
      padding: 6px;
    }
  } // end .admin-input-row

  .admin-input-row.in-progress {
    background-color: #ff8;
  }

  .small-id {
    color: #aaa;
    font-size: 14px;
    font-weight: 700;
    margin-left: 70px;
  }

  .game-input-container {
    .teams {
      align-items: center;
      display: flex;
      margin: 20px 0;
      text-align: center;
    }

    .team-name {
      flex: 45;
      font-size: 24px;
      font-weight: 300;
    }

    .vs {
      flex: 10;
    }

    .scores {
      display: flex;
      margin: 20px 0;
      text-align: center;
    }

    .score {
      flex: 45;
    }

    .button {
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
      margin: 0 auto;
      padding: 15px 0px;
      width: 80px;
    }

    .button.up {
      background-color: #26D026;
    }

    .button.down {
      background-color: #FF3C3C;
    }

    .button.disabled {
      opacity: 0.4;
    }

    .big-score {
      font-size: 64px;
      font-weight: 700;
    }

    .status {
      display: flex;
      margin: 20px;
    }

    .tab {
      background-color: #f6f6f6;
      border-color: #eee;
      color: #333;
      cursor: pointer;
      flex: 1;
      font-size: 18px;
      padding: 15px 0;
      text-align: center;
    }

    .tab.active {
      background-color: @primaryActionColor;
      color: #fff;
    }

    .tab.disabled {
      opacity: 0.4;
    }

    .back-btn {
      border: 1px solid #ddd;
      border-radius: 2px;
      background-color: #eee;
      cursor: pointer;
      display: inline-block;
      margin: 0 20px 20px 20px;
      padding: 10px 20px;

      .fa {
        font-size: 10px;
        vertical-align: top;
        padding-top: 5px;
      }
    }

  } // end .game-input-container

  .edit-scores-btn {
    background: @primaryActionColor;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: 70px;
    padding: 10px 20px;
  }

} // end .admin-container

.swiss-panel-container {
  h2 {
    font-size: 18px;
    font-weight: 300;
    margin: 25px 0;
    padding: 0;
  }

  h3 {
    color: #777;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    .game-count {
      color: #222;
      display: inline-block;
      font-weight: 300;
      margin-left: 8px;
      text-transform: none;
    }
  }

  .info {
    padding-left: 5px;
    padding-right: 5px;
  }

  .vs {
    display: inline-block;
    font-size: 12px;
    margin: 0 5px;
  }

  .matchups {
    font-size: 14px;
    margin: 0;
    padding: 0 0 0 15px;

    li {
      list-style: decimal;
      padding: 5px 0;
    }

    .score {
      color: green;
      font-family: monospace;
    }
  }

  .already-played {
    background: yellow;
    display: inline-block;
    font-weight: 700;
    margin-left: 5px;
    padding: 2px;
  }

  .msg {
    color: #888;
    font-family: "Georgia", serif;
    font-style: italic;
  }

} // end .swiss-panel-container

.small-results-tbl {
  border-bottom: 2px solid #eee;
  width: 100%;

  thead tr {
    background: #aaa;
  }

  th {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
    text-align: right;
  }

  tbody tr:nth-child(odd) {
     background-color: #eee;
  }

  td {
    font-family: monospace;
    font-size: 14px;
    padding: 6px;
    text-align: right;
  }

  .place {
    color: #999;
    font-weight: 700;
  }

  .name {
    font-family: "Roboto", sans-serif;
    text-align: left;
  }

} // end .small-results-tbl

//------------------------------------------------------------------------------
// Games Page
//------------------------------------------------------------------------------

.title-eef62 {
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  font-weight: 300;
  margin: 0;
  padding: 10px 15px;
}

.flex-052ba {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col-beeb5 {
  width: 49%;
}

@media all and (max-width: @smallBreakpoint) {
  .flex-052ba {
    flex-direction: column;
  }

  .col-beeb5 {
    width: 100%;
  }
}

//------------------------------------------------------------------------------
// Game Row
//------------------------------------------------------------------------------

.game-row-container {
  border-bottom: 2px solid #ddd;
  padding: 12px 0;

  h3 {
    color: #888;
    margin: 15px 0 5px 5px;
    padding: 0;
    font-size: 14px;
    font-weight: 700;
  }

  td {
    padding: 6px 4px;
    height: 30px;
  }

  input[type="text"] {
    font-size: 14px;
    padding: 3px;
  }

  input[type="number"] {
    box-sizing: border-box;
    padding: 2px;
    text-align: right;
    width: 50px;
  }

  .team-select {
    padding: 4px;
  }

  .time-input {
    width: 110px;
  }

  .final-score {
    box-sizing: border-box;
    display: inline-block;
    text-align: right;
    width: 31px;
  }

  .name-input-cell {
    width: 250px;
  }

  .label-cell {
    font-size: 13px;
    font-weight: 300;
    text-align: right;
  }

  .htab {
    padding: 4px 0;
    width: 100px;
  }

} // end .game-row-container

//------------------------------------------------------------------------------
// Horizontal Tabs
//------------------------------------------------------------------------------

.htab {
  background: #f6f6f6;
  border: 1px solid #eee;
  border-right: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 6px 0;
  text-align: center;
  width: 120px;
}

.htab.active {
  background: #38c;
  color: #fff;
}

.htab.disabled {
  cursor: auto;
  opacity: 0.35;
}

.htab:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.htab:nth-last-of-type(1) {
  border-right: 1px solid #eee;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

// modify the htabs when being used as tabs at the top of the page
.filters-container {
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;

  .htab {
    border-bottom: 0;
    border-right: 1px solid #eee;
    font-size: 16px;
    font-weight: 300;
    margin-right: 10px;
    padding: 12px 0;
    width: 150px;
  }

  .htab.active {
    background: #ccc;
    color: #000;
    font-weight: 400;
  }

  .htab:first-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .htab:nth-last-of-type(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

.simulated-container {
  .input-row {
    margin: 8px 0;
  }

  input[type="number"] {
    box-sizing: border-box;
    display: inline-block;
    padding: 2px;
    margin-right: 10px;
    text-align: right;
    width: 50px;
  }
}

//------------------------------------------------------------------------------
// Snowflake Classes
//------------------------------------------------------------------------------

.signout-7f21d {
  fill: #222;
  height: 18px;
  margin-right: 5px;
  vertical-align: bottom;
  width: 16px;
}

.modal-layer-20e76 {
  background: #000;
  bottom: 0;
  left: 0;
  opacity: .6;
  position: fixed;
  top: 0;
  right: 0;
  z-index: @modalZ;
}

.modal-layer2-667e1 {
  background: #000;
  bottom: 0;
  left: 0;
  opacity: .6;
  position: fixed;
  top: 0;
  right: 0;
  z-index: @modalZ + 100;
}

.modal-body-41add {
  background: #fff;
  bottom: 0;
  left: 0;
  position: fixed;
  top: 0;
  width: 45%;
  z-index: @modalZ + 1;
}

.menu-link-14aa1 {
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  padding: 15px;
}

.saving-modal-58ebc {
  background: #fff;
  width: 75%;
  left: 0;
  top: 0;
  z-index: @modalZ + 1;
}

@editGameModalMargin: 2.5px;

.fullscreen-modal-6d79e {
  background: #fff;
  border-radius: 3px;
  bottom: @editGameModalMargin;
  left: @editGameModalMargin;
  position: fixed;
  right: @editGameModalMargin;
  top: @editGameModalMargin;
  z-index: @modalZ + 1;
}

.edit-team-modal-bf210 {
  background: #fff;
  border-radius: 3px;
  left: 50%;
  max-width: @maxModalWidth;
  position: fixed;
  top: 20%;
  transform: translate(-50%, 0);
  width: 90%;
  z-index: @modalZ + 1;
}

.wrapper-50f2f {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.top-d8bc3 {
  flex: 1;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.bottom-5fd4c {
  background: #ececec;
  border-top: 1px solid #ddd;
  display: flex;
  padding: 10px 15px;
}

.btn-215d7 {
  background: #fff;
  border: 1px solid #b2b2b2;
  color: #222;
  cursor: pointer;
  flex: 1;
  font-size: 14px;
  font-weight: 300;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

.btn-primary-7f246 {
  background: @primaryActionColor;
  border: 1px solid @primaryActionColor;
  color: #fff;
  cursor: pointer;
  flex: 1;
  font-size: 14px;
  font-weight: 300;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

.btn-secondary-a6e0d {
  background: #eee;
  border: 1px solid #ddd;
  color: #222;
  cursor: pointer;
  flex: 1;
  font-size: 14px;
  font-weight: 300;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
}

.spacer-b3729 {
  width: 10px;
}

.modal-inner-e530d {
  color: #222;
  font-weight: 300;
  padding: 20px;
}

.error-modal-c1d65 {
  background: #fff;
  border-radius: 3px;
  left: 50%;
  max-width: @maxModalWidth;
  position: fixed;
  top: 25%;
  transform: translate(-50%, 0);
  width: 90%;
  z-index: @modalZ + 101;
}

.loading-modal-0a203 {
  background: #fff;
  border-radius: 3px;
  left: 50%;
  max-width: @maxModalWidth;
  position: fixed;
  top: 25%;
  transform: translate(-50%, 0);
  width: 60%;
  z-index: @modalZ + 101;
}

.wrapper-d214e {
  color: #222;
  font-size: 28px;
  font-weight: 300;
  margin: 30px 0;
  text-align: center;
}

.error-icon-82a21 {
  display: inline-block;
  fill: #222;
  height: 24px;
  margin: 0 6px -2px 0;
  width: 24px;
}

.error-bar-2cd03 {
  background: @warningYellow;
  padding: 16px;
  font-size: 24px;
}

.help-msg-f56fd {
  font-size: 20px;
}

.spinny-846e4 {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
  display: inline-block;
  fill: #222;
  height: 24px;
  margin: 0 6px -2px 0;
  width: 24px;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.game-row-d96c7 {
  padding: 10px 0;
}

.edit-btn-7da0b {
  background: #fff;
  border: 1px solid #b2b2b2;
  color: #222;
  cursor: pointer;
  flex: 1;
  font-size: 14px;
  font-weight: 300;
  margin: 8px 5px;
  padding: 8px 12px;
  text-align: center;
  text-transform: uppercase;
}

.flex-container-ac723 {
  display: flex;
}

.left-02b94 {
  flex: 47;
  text-align: center;
}

.center-f5e42 {
  flex: 6;
}

.right-6c20f {
  flex: 47;
  text-align: center;
}

.centered-bafb6 {
  text-align: center;
}

@bigNameHeight: 130px;

.big-name-c7484 {
  font-size: 28px;
  height: @bigNameHeight;
  line-height: @bigNameHeight;
}

.small-vs-fb4ff {
  font-size: 14px;
  height: @bigNameHeight;
  line-height: @bigNameHeight;
  text-align: center;
}

.big-name-c7484 span, .small-vs-fb4ff span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.big-score-39b8b {
  font-size: 52px;
  padding: 8px 0;
}

.score-btn-261c4 {
  background: #fff;
  border: 1px solid #ddd;
  color: green;
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0;
  padding: 12px;
  width: 75px;
}

.score-btn-261c4.red {
  color: red;
}

.status-tabs-61ba0 {
  display: flex;
  margin: 20px 15px 0 15px;

  div {
    background-color: #f6f6f6;
    border: 1px solid #eee;
    cursor: pointer;
    flex: 1;
    padding: 12px 0;
    text-align: center;
  }

  .active-32daa {
    background-color: @primaryActionColor;
    border-color: @primaryActionColor;
    color: #fff;
  }
}

.tbl-988bd {
  width: 100%;
}

.even-fa3d0 {
  background-color: #eee;
}

.odd-fd05d {

}

.time-cell-717e2 {
  color: #999;
  font-size: 13px;
  padding-right: 5px;
  text-align: right;
}

.scheduled-c1f27 {
  font-style: italic;
}

.game-row-02b81 {
  .team-name {
    font-size: 14px;
  }

  .vs {
    display: inline-block;
    font-size: 11px;
    margin: 0 4px;
  }

  .status {
    color: #777;
    display: inline-block;
    font-family: 'Georgia',serif;
    font-size: 13px;
    font-style: italic;
  }

  .game-name {
    color: #666;
    font-size: 11px;
  }
}

.team-row-f5ef3 {
  border-bottom: 1px solid #ccc;
  display: flex;
  padding: 10px;
}

.row-left-87ce4 {
  flex: 80;
}

.row-right-eb8a9 {
  flex: 20;
  text-align: right;
}

.team-name-37bbb {
  font-size: 20px;
}

.captain-ea163 {
  color: #999;
  font-size: 14px;
  font-style: italic;
  margin-top: 2px;
}

.label-cee3e {
  color: #6d6d6d;
  display: block;
  font-weight: 300;
  padding: 10px 0;
  font-size: 18px;
}

.big-input-e8342 {
  padding: 5px;
  font-size: 20px;
  margin-bottom: 20px;
  width: 90%;
}

.inner-8cd7f {
  margin: 20px;
}
