@import "normalize-3.0.3.less";
@import "font-awesome-4.5.0.less";

//------------------------------------------------------------------------------
// Variables
//------------------------------------------------------------------------------

@maxWidth: 1024px;
@minWidth: 300px;
@minBodyHeight: 400px;
@primaryActionColor: #38c;

//------------------------------------------------------------------------------
// Tag Selectors
//------------------------------------------------------------------------------

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  max-width: @maxWidth;
  min-width: @minWidth;
}

// TODO: make the header smaller on screen size breakpoints

header {
  h1 {
    background: @primaryActionColor;
    color: #fff;
    margin: 0;
    padding: 10px;
    font-size: 22px;
    font-weight: 300;
  }

  nav {
    ul {
      border-bottom: 1px solid #eee;
      display: flex;
      margin: 0;
      padding: 0;
    }

    li {
      background: #f5f5f5;
      cursor: pointer;
      flex: 1;
      font-size: 16px;
      font-weight:300;
      list-style: none;
      padding: 12px 0;
      text-align: center;
    }

    li.active {
      background: #ccc;
      font-weight: 400;
    }

    a {
      color: #222;
      text-decoration: none;
    }
  }
}

footer {
  align-items: center;
  background: #333;
  color: #828282;
  display: flex;
  font-size: 12px;
  margin: 0;
  padding: 20px 10px;

  .left {
    flex: 1;

    select {
      color: #222;
    }
  }

  .right {
    flex: 1;
    text-align: right;
  }

  p {
    margin: 0;
    padding: 0;
  }

  a {
    color: #bbb;
    text-decoration: none;
  }

  a:hover {
    color: #fff;
    text-decoration: underline;
  }
}

//------------------------------------------------------------------------------
// Info
//------------------------------------------------------------------------------

#infoContainer {
  margin: 10px;
  min-height: @minBodyHeight;

  h1 {
    font-size: 28px;
    font-weight: 300;
    margin: 10px 0;
    padding: 10px 0;
  }

  h2 {
    border-bottom: 1px solid #ddd;
    font-size: 22px;
    font-weight: 300;
    margin: 10px 0;
    padding: 10px 0;
  }

  h3 {
    color: #555;
    font-size: 16px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    line-height: 1.4em;
    margin: 1em 0;
  }
} // end #infoContainer

//------------------------------------------------------------------------------
// Schedule
//------------------------------------------------------------------------------

.schedule-container {
  min-height: @minBodyHeight;
  margin: 10px 0;

  .big-input {
    box-sizing: border-box;
    display: block;
    font-size: 16px;
    margin: 10px auto 0 auto;
    padding: 10px;
    width: 99%;
  }

  h3 {
    border-bottom: 1px solid #ddd;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
  }

  table {
    width: 100%;
  }

  tbody tr:nth-child(odd) {
     background-color: #eee;
  }

  tr.in-progress {
    background-color: #ff8 !important;
  }

  td {
    padding: 8px 0;
  }

  .time {
    color: #999;
    font-size: 14px;
    padding-left: 5px;
    text-align: right;
  }

  .game {
    font-size: 16px;
    padding-left: 10px;
    width: 93%;
  }

  .status {
    color: #777;
    display: inline-block;
    font-family: "Georgia", serif;
    font-size: 14px;
    font-style: italic;
    margin-left: 8px;
  }

  .sub-name {
    color: #666;
    font-size: 12px;
    margin-top: 3px;
  }

  .no-search-results {
    color: #777;
    font-family: "Georgia", serif;
    font-size: 18px;
    font-style: italic;
    margin: 25px 0 0 5px;
  }

} // end .schedule-container

.vs {
  display: inline-block;
  margin: 0 5px;
  font-size: 12px;
}

//------------------------------------------------------------------------------
// Results
//------------------------------------------------------------------------------

.results-container {
  margin: 10px 0;
  min-height: @minBodyHeight;

  table {
    width: 100%;
  }

  thead tr {
    background-color: #aaa;
  }

  thead th {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    padding: 5px;
  }

  tbody tr {
    background-color: #fff;
  }

  tbody tr:nth-child(odd) {
     background-color: #eee;
  }

  td {
    padding: 3px 4px;
  }

  .points-header {
    font-size: 14px;
  }

  .place {
    color: #999;
    font-size: 14px;
    text-align: right;
    font-weight: 700;
  }

  .record-cell {
    padding: 0 0 4px 0;
    text-align: center;
    white-space: nowrap;
  }

  .no-games {
    color: #777;
    font-size: 14px;
  }

  .team-name {
    font-size: 18px;
    text-overflow: ellipsis;
  }

  .captain {
    color: #999;
    font-size: 14px;
    font-style: italic;
    margin-top: 2px;
  }
} // end .results-container

.big-record {
  .big-num {
    display: inline-block;
    font-size: 34px;
    font-weight: 300;
  }

  .dash {
    display: inline-block;
    font-size: 24px;
    margin: 0 5px;
    padding-top: 7px;
    vertical-align: top;
  }
}

.small-points {
  color: #888;
  font-size: 16px;
  margin-top: -5px;
}

.sort-by-container {
  margin: 10px 0 10px 10px;

  label {
    color: #777;
    font-family: "Georgia", serif;
    display: inline-block;
    margin-right: 10px;
    font-style: italic;
    font-size: 16px;
  }

  a {
    display: inline-block;
    background-color: #f6f6f6;
    border-color: #eee;
    color: #333;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    width: 100px;
  }

  .active {
    background-color: @primaryActionColor;
    border-color: @primaryActionColor;
    color: #fff
  }
}

//------------------------------------------------------------------------------
// Admin
//------------------------------------------------------------------------------

.admin-container {
  .top-bar {
    align-items: center;
    background: #333;
    color: #fff;
    display: flex;
    padding: 10px 15px;

    .left {
      font-size: 18px;
      font-weight: 300;
      flex: 90;
    }

    .right {
      color: #aaa;
      flex: 10;
      font-size: 14px;
      font-weight: 700;
      text-align: right;
      text-transform: uppercase;
    }
  }

  article {
    min-height: @minBodyHeight;
  }

  .top-option {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 20px;

    .fa {
      font-size: 18px;
      width: 20px;
    }
  }

  .admin-input-row {
    border-bottom: 1px solid #ddd;
    padding: 15px 5px;

    .row {
      align-items: center;
      display: flex;
      margin: 10px 0;
    }

    label {
      font-size: 16px;
      font-weight: 300;
      padding: 5px;
      text-align: right;
      width: 60px;
    }

    .muted {
      color: #777;
      font-family: "Georgia", serif;
      font-size: 14px;
      font-style: italic;
    }

    input {
      flex: 1;
      font-size: 16px;
      padding: 6px;
    }
  } // end .admin-input-row

  .admin-input-row.in-progress {
    background-color: #ff8;
  }

  .small-id {
    color: #aaa;
    font-size: 14px;
    font-weight: 700;
    margin-left: 70px;
  }

  .game-input-container {
    .teams {
      align-items: center;
      display: flex;
      margin: 20px 0;
      text-align: center;
    }

    .team-name {
      flex: 45;
      font-size: 24px;
      font-weight: 300;
    }

    .vs {
      flex: 10;
    }

    .scores {
      display: flex;
      margin: 20px 0;
      text-align: center;
    }

    .score {
      flex: 45;
    }

    .button {
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 18px;
      font-weight: 700;
      margin: 0 auto;
      padding: 15px 0px;
      width: 80px;
    }

    .button.up {
      background-color: #26D026;
    }

    .button.down {
      background-color: #FF3C3C;
    }

    .button.disabled {
      opacity: 0.4;
    }

    .big-score {
      font-size: 64px;
      font-weight: 700;
    }

    .status {
      display: flex;
      margin: 20px;
    }

    .tab {
      background-color: #f6f6f6;
      border-color: #eee;
      color: #333;
      cursor: pointer;
      flex: 1;
      font-size: 18px;
      padding: 15px 0;
      text-align: center;
    }

    .tab.active {
      background-color: @primaryActionColor;
      color: #fff;
    }

    .tab.disabled {
      opacity: 0.4;
    }

    .back-btn {
      border: 1px solid #ddd;
      border-radius: 2px;
      background-color: #eee;
      cursor: pointer;
      display: inline-block;
      margin: 0 20px 20px 20px;
      padding: 10px 20px;

      .fa {
        font-size: 10px;
        vertical-align: top;
        padding-top: 5px;
      }
    }

  } // end .game-input-container

  .edit-scores-btn {
    background: @primaryActionColor;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin-left: 70px;
    padding: 10px 20px;
  }

} // end .admin-container

.swiss-round-container {
  h2 {
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: 300;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
  }

  h3 {
    color: #777;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }
} // end .swiss-round-container

.small-results-tbl {
  border-bottom: 1px solid #eee;
  width: 100%;

  thead tr {
    background: #aaa;
  }

  th {
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    padding: 5px;
    text-align: right;
  }

  tbody tr:nth-child(odd) {
     background-color: #eee;
  }

  td {
    font-size: 14px;
    padding: 5px;
    text-align: right;
  }

  .name {
    text-align: left;
  }

} // end .small-results-tbl
