@import "normalize-3.0.3.less";
//@import "font-awesome-4.2.0.less";

//------------------------------------------------------------------------------
// Variables
//------------------------------------------------------------------------------

@maxWidth: 1200px;
@minWidth: 300px;

@primaryActionColor: blue;

//------------------------------------------------------------------------------
// Tag Selectors
//------------------------------------------------------------------------------

body {
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0 auto;
  max-width: @maxWidth;
  min-width: @minWidth;
}

header {
  h1 {

  }

  nav {

  }
}


//------------------------------------------------------------------------------
// Schedule
//------------------------------------------------------------------------------

.schedule {
  td {
    padding: 4px 0;
  }

  .time {
    color: #999;
    font-size: 14px;
    text-align: right;
    width: 75px;
  }

  .game {
    padding-left: 10px;
  }
}
